<nav>
	<ul class="menu-bar">
		<li><a href="#bio">Bio</a></li>
		<li><a href="#topaz">Topaz</a></li>
		<li><a href="#asteroids">Asteroids</a></li>
		<li><a href="#findr">Findr</a></li>
		<li><a href="#trellino">Trellino</a></li>
		<li><a href="#checkers">Checkers</a></li>
		<li><a href="#chess">Chess</a></li>
	</ul>
</nav>