// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* general */
html, body, nav, main, h1, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body{
	font-family: sans-serif;
}

p{
	margin-bottom: 15px;
}

.highlight{
	background: yellow;
	padding: 5px;
}

a:link {
    color: #000;
		text-decoration: none;
}

a:visited {
    color: #000;
}

h1, h2{
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}

h1{
	font-size: 65px;
  color: black;
}

img{
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	cursor: -webkit-zoom-in;
}

::-moz-selection { background: #27ae60; color: #fff; text-shadow: none; }
::selection { background: #27ae60; color: #fff; text-shadow: none; }

/* sidebar */
section.sidebar{
	position: fixed;
  background: #fff;
  top: 0;
	left: 0;
  width: 250px;
  height: 100%;
  overflow: auto;
}

section.sidebar > ul{
	list-style: none;
	position: absolute;
	top: 5%;
}

section.sidebar > ul > li{
	padding: 35px;
}

section.sidebar > ul > li > a{
	padding: 10px;
	font-size: 17px;
	font-weight: lighter;
}

section.sidebar > ul > li > a:hover{
	background: #ecf0f1;
	color: #2ecc71;
  box-shadow: 0 0 5px #2ecc71;	
}

/* main page */
section.page{
  background: #fff;
	padding: 30px;
	height: auto;
  top: 0;
  margin-left: 281px;
	overflow: auto;
  border-left: 1px solid rgb(229,229,229);
}

section.page > h2 > a:hover{
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
	color: #2ecc71;
  text-shadow: 0 0 1px #2ecc71;	
}

#main-content ul{
	list-style: cjk-ideographic;
	list-style-position:inside;
	margin: 20px;
}

#main-content ul > li{
	padding: 5px;
}

#main-content{
	font-weight: lighter;
}

.header-link{
	text-decoration: underline;
	font-weight: lighter;
	font-size: 13px;
	vertical-align: middle;
}